# Entornos Virtuales
venv/
.venv/
env/

# Dependencias de Node
node_modules/
lunia-web/node_modules/

# Variables de Entorno (¡CRÍTICO!)
.env
lunia-web/.env.production
lunia_2fa_qr.png

# Archivos de Python
__pycache__/
*.py[cod]
*$py.class

# IDEs y otros
.vscode/
.idea/
.DS_Store
dist/
lunia-web/dist/
*.log
